#main {
    padding: 10px;
}

body {
    font-family: "Open Sans";
}

.title h3 {
    font-size: 20px;
    font-weight: light;
}

a {
    color: #555;
    font-size: 13px;
    text-decoration: underline;
}

.x-axis path {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}
.x-axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.y-axis path {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}
.y-axis line {
    fill: none;
    stroke: lightgrey;
    shape-rendering: crispEdges;
}

.hidden {
    fill-opacity: .2;
}

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(240, 240, 240, 0.95);
    color: #333;
    border-radius: 4px;
    font-size: 14px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(240, 240, 240, 0.95);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}

/* Style southward tooltips specifically */
.d3-tip.s:after {
    color: rgba(0, 0, 0, 0.95);
    transform: rotate(180deg);
    margin: -2px 0 0 0;
    top: 0%;
    left: 0;
}

.d3-tip h5{
    font-size: 18px;
    font-weight: 600;
    margin: 2px 10px 4px 2px;
}

.d3-tip thead td {
    border-bottom: 1px solid #ccc;
    font-size: 11px;
    font-weight: 600;
}

.d3-tip td {
    padding: 4px 10px 2px 2px;
}

.d3-tip thead tr {
    paddin-top: 10px;
}
