#main {
    padding: 10px;
}

body {
    font-family: "Open Sans";
}

.title h3 {
    font-size: 20px;
    font-weight: light;
}

a {
    color: #555;
    font-size: 13px;
    text-decoration: underline;
}

.x-axis path {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}
.x-axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.y-axis path {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}
.y-axis line {
    fill: none;
    stroke: lightgrey;
    shape-rendering: crispEdges;
}

.hidden {
    fill-opacity: .2;
}
